@using AspNetCoreTemplate.Web.ViewModels.Minor
@model MinorViewModel
<form enctype="multipart/form-data" asp-controller="Minor" asp-action="Add" method="post">
    <h1 class="text-center">Create minor</h1>

    <div>

        <label asp-for="Name"></label>
        <input asp-for="Name" class="text-danger" placeholder="name" />
        <input asp-for="Year"  class="text-danger" placeholder="year"></>
        <input asp-for="Month" class="text-danger" placeholder="month"></>
        <input asp-for="Day" class="text-danger" placeholder="day"></>
        <input asp-for="FilePdf" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      
    </div>
    <button type="submit" class="btn btn-success text-uppercase">Submit</button>
</form>





